.heading{
   
    font-weight: 550;
    font-size: 300%;
    font-family: sans-serif;
    color: #0d6efd;
    margin-top: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(221, 177, 96);

}

.card {
    transition: transform 0.3s ease; /* Smooth transition for the transformation */
}

.card.enlarge {
    transform: scale(1.1); /* Scale the card to 110% of its original size */
    z-index: 10; /* Bring the card to the front */
}


.heading:hover{
    color:rgb(3, 3, 175);
}
.footer{
    text-align: center;
    height:7rem;
    background-color: rgb(131, 129, 129);
    color: rgb(62, 61, 61);
    max-width: 100%;
}

.card-section{
    margin-left: 8%;
    margin-right: 8%;
}

.browse{
    text-decoration: none;
    text-align: end;
}

.browse:hover{
    color: rgb(70, 242, 70);
    font-size: large;
}

@media screen and (max-width:350px){
.card-section{
    margin-left: 0%;
}
}
